{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        a:link {
            text-decoration: none;
        }
    </style>
</head>
<h2 style="text-align:center; color:blue;">Upload Job Post</h2>

<form method="post" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {% csrf_token %}
    <div class="form-group">
        <label for="job_title">Job Title:</label>
        <input type="text" class="form-control" name="title" placeholder="Enter job title">
    </div>
    <div class="form-group">
      <label for="company_name">Company Name:</label>
      <input type="text" class="form-control"  name="company_name" placeholder="Enter Company Name">
  </div>
  <div class="form-group">
    <label for="job_location">Job Location:</label>
    <input type="text" class="form-control"  name="location" placeholder="Enter job location">
</div>
    <div class="form-group">
        <label for="job_description">Job Description:</label>
        <textarea class="form-control"  name="position" rows="5" placeholder="Enter job description"></textarea>
    </div>
    
    <div class="form-group">
        <label for="salary">Link:</label>
        <input type="text" class="form-control"  name="requirements" placeholder="Enter Link">
    </div>
    <button type="submit" class="btn btn-primary">Upload Job</button>
</form>

<br><br><br>
{% endblock content %}
